<div mat-dialog-content>
    <mat-form-field>
        <label>
            <strong>Title</strong>
        </label>
        <input mat-input cdkFocusInitial [(ngModel)]="data.task.title">
    </mat-form-field>
</div>

<mat-form-field>
    <label>
        <strong>Description</strong>
    </label>
    <textarea mat-input cdkFocusInitial [(ngModel)]="data.task.description"></textarea>
</mat-form-field>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ task: data.task }">
        OK
    </button>
    <button mat-button (click)="cancel()">
        Cancel
    </button>
    <button 
    *ngIf="data.enableDelete"
    mat-fab 
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ task: data.task, delete: true }"
    >
    <mat-icon>
        delete
    </mat-icon>
    </button>
</div>